/* Globally applied styles are defined here */

/* Smooth scrolling */
@media screen and (prefers-reduced-motion: reduce) {
	html, body {
		scroll-behavior: auto;
        height: 100%;
	}
}

/* Bootstrap Icons */
.bi {
	font-size: 1.5em;
}

/* Navbar */
.navbar {
	z-index: 2;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s;
		margin-top: 0;
	}

	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}

	/* Show navbar dropdowns on hover */
	.navbar .nav-item:hover .nav-link {
		color: #000000;
	}

	.navbar .nav-item:hover .dropdown-menu {
		transition: 0.3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
}

/* Social Media Colours */
.bi-linkedin {
	color: #2867B2;
}

.bi-instagram {
	/*background: linear-gradient(120deg, #405DE6 0%, #5851DB 11%, #833AB4 22%, #C13584 33%, #E1306C 44%, #FD1D1D 56%, #F56040 67%, #F77737 78%, #FCAF45 89%, #FFDC80 100%);*/
	color: #E1306C;
}

.bi-facebook {
	color: #1778F2;
}

.bi-twitter {
	color: #1DA1F2;
}

.bi-youtube {
	color: #FF0000;
}
